In [19]:
import pandas as pd
import math

In [34]:
df = pd.read_excel('./data/1.2.task_data.xlsx')

In [35]:
df

   Unnamed: 0  fertility_rate  life_expectancy_at_birth
0          x1           1.300                  76.84878
1          x2           1.950                  81.40732
2          x3           2.466                  77.57895
3          x4           1.600                  74.16341
4          x5           2.952                  68.84907
5          x6           1.801                  73.88595
6          x7           1.340                  75.26829
7          x8           1.340                  76.26098
8          x9           1.630                  80.57244
9         x10           2.326                  65.46259
10        x11           2.436                  67.54820
11        x12           6.563                  55.02451
12        x13           1.283                  76.27990
13        x14           1.430                  82.29024
14        x15           1.988                  69.80695
15        x16           1.610                  81.40112
16        x17           1.921                  82.19756
17        x18           2.400                  74.22683
18        x19           1.495                  80.12888
19        x20           4.705                  45.55095

## średnia arytmetyczna

In [14]:
df_mean = (df['life_expectancy_at_birth']
 .mean()
 .round(2))

df_mean

73.24

## mediana

In [34]:
(df['life_expectancy_at_birth']
 .median())

75.764635

## dominanta
w zestawie danych dla zmiennej 'life_expectancy_at_birth' nie można wyznaczyć dominanty. wszystkie wartości są unikalne i występują w kolekcji danych tylko raz.

In [22]:
(df['life_expectancy_at_birth']
 .value_counts()
 .max())

1

## korelacja
Między współczynnikiem dzietności i przewidywaną długością życia zachodzi bardzo wysoka korelacja ujemna (-0,82), czyli spadek współczynnika dzietności przekłada się na wzrost przewidywanej długości życia. To znane zjawisko społeczne. Wysoka dzietność występuje w krajach mniej rozwiniętych. Wraz z rozwojem cywilizacyjnym lepsza opieka medyczna pozwala wydłużać średnią wieku społeczeństwa.

In [37]:
df.corr(numeric_only=True)

                          fertility_rate  life_expectancy_at_birth
fertility_rate                  1.000000                 -0.820493
life_expectancy_at_birth       -0.820493                  1.000000

## szacowana długość życia dla populacji przy poziomie ufności 95%
Istnieje 95% szans, że przedział ufności [69.25, 77.22] zawiera rzeczywistą średnią oczekiwaną długość życia dla całej populacji.

In [43]:
stedv = 9.09
p_value_rank = 1.96
sample_count = 20

In [44]:
df_mean+(p_value_rank*(stedv/(math.sqrt(sample_count))))

77.22386815143273

In [45]:
df_mean-(p_value_rank*(stedv/(math.sqrt(sample_count))))

69.25613184856726